@media (max-width: 768px) {
    .path {
      flex-direction: column !important;
    }
  
    .path-image img {
      width: 100%;
      height: auto;
      border-radius: 0 0 20px 20px;
    }
  
    .path-text {
      padding: 1.5rem;
      text-align: center;
    }
  }
  
  
  @media (max-width: 768px) {
    .path {
      margin-bottom: 2rem;
    }
  }
  